@model AppointmentMaker.Models.AppointmentModel

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header bg-primary text-white text-center fw-bold fs-5">
            Newly Booked Appointment
        </div>

        <div class="card-body px-5 py-4">
            <dl class="row mb-0">
                <dt class="col-sm-4 text-secondary fw-semibold">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8 fs-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-4 text-secondary fw-semibold">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-8 fs-6">
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt class="col-sm-4 text-secondary fw-semibold">
                    @Html.DisplayNameFor(model => model.DoctorRoom)
                </dt>
                <dd class="col-sm-8 fs-6">
                    @Html.DisplayFor(model => model.DoctorRoom)
                </dd>

                <dt class="col-sm-4 text-secondary fw-semibold">
                    @Html.DisplayNameFor(model => model.DoctorName)
                </dt>
                <dd class="col-sm-8 fs-6">
                    @Html.DisplayFor(model => model.DoctorName)
                </dd>

                <dt class="col-sm-4 text-secondary fw-semibold">
                    @Html.DisplayNameFor(model => model.PainLevel)
                </dt>
                <dd class="col-sm-8 fs-6">
                    @Html.DisplayFor(model => model.PainLevel)
                </dd>
            </dl>
        </div>

        <div class="card-footer bg-light d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-outline-secondary px-4">
                <i class="bi bi-arrow-left"></i> Back
            </a>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning me-2 px-4">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
                <a asp-action="Index" class="btn btn-success px-4">
                    <i class="bi bi-save"></i> Save
                </a>
            </div>
        </div>
    </div>
</div>